body {
  margin: 10px;
  white-space: nowrap;
  width: 450px;
}

#container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 -10px;
}

.title {
  max-width: calc(100% - 200px);
  text-overflow: ellepsis;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}
table.url-parts th {
  text-align: left;
}
button svg {
  height: 1em;
  width: 1em;
}
button svg g {
  fill: #fff;
  stroke-width: 2px;
}

.update-button {
  display: inline;
}

#url {
  max-width: 90%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

#buttons {
  float: right;
}

.actions-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions-container span {
  cursor: pointer;
  transition: all 0.3s ease;
}
.actions-container span:hover {
  border-radius: 25%;
}
.actions-container .copy:hover {
  background-color: #ffd22f;
}
.actions-container .remove:hover {
  background-color: #ff9e9e;
}
.actions-container span:hover svg {
  transform: scale(1.25);
}

.actions-container svg {
  width: 1rem;
}

.btn-action {
  stroke: white;
  font-size: 1.25em;
}

/*
  Buttons
  ------------------------ */
.btn-success,
.btn-error,
.btn-warning,
.btn-secondary,
.btn-info {
  color: white;
  border-radius: 2px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.btn-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.btn-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.btn-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.btn-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}
.btn-secondary:hover {
  background-color: #20caff;
}

.btn-info {
  background: #a0a0a0;
}
.btn-info:hover {
  background: #777777;
}

.btn-info:hover,
.btn-secondary:hover {
  background-image: none;
}


.btn-xsmall {
  font-size: 70%;
}

.btn-small {
  font-size: 85%;
}

.btn-large {
  font-size: 110%;
}

.btn-xlarge {
  font-size: 125%;
}

/*
  Table
-----------------*/
.pure-table {
  border: none;
}

.pure-table thead {
  background-color: #0078e7;
  color: #f2f2f2;
}

.pure-table th,
.pure-table td {
  border-left: none;
}

.pure-table th:last-child,
.pure-table td:last-child {
  border-left: 1px solid #cbcbcb;
}

.pure-table-striped tr:nth-child(2n-1) td {
    background-color: #f0f5ff;
}

.pure-table-striped tr.disabled td {
    background-color: #efefef;
}
.pure-table-striped tr.disabled td input {
    border: 2px solid #efefef;
}

/*
  Checkbox
-------------------------*/
input[type=checkbox] {
  transform: scale(1);
}

input[type=checkbox] {
  position: relative;
  width: 15px;
  height: 15px;
  cursor: pointer;
  visibility: hidden;
  font-size: 0.7rem;
}

input[type=checkbox]:after {
  content: "\2714";
  background-color: #fff;
  padding: 0 2px;
  color: #0bbd00;
  visibility: visible;
  border: 1px solid #158600;
}

input[type=checkbox]:checked:after {
  content: "\2714";
}

input[type=checkbox]:not(:checked):after {
  /* content: "\274C"; */
  color: #a1a1a1;
  border: 1px solid #5e5d5d;
}
